## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Artefacts
/.build
DerivedData/

# Swift Package Manager
Packages/
Package.pins
Package.resolved
/*.xcodeproj
.swiftpm
.DS_Store
/Packages
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc